In [13]:
import json
import pandas as pd 

data_train = json.load(open('./data/train.json'))
data_val = json.load(open('./data/validation.json'))
data_test = json.load(open('./data/test.json'))

summary = []
article = []
ID = []
data_type = []

for row in data_train:
    summary.append(row["summary"])
    article.append(row["article"])
    ID.append(row["id"])
    data_type.append("train")
    
for row in data_val:
    summary.append(row["summary"])
    article.append(row["article"])
    ID.append(row["id"])
    data_type.append("validation")
    
for row in data_test:
    summary.append(row["summary"])
    article.append(row["article"])
    ID.append(row["id"])
    data_type.append("test")
    
# Create a dictionary with your data
data = {
    'summary': summary,
    'article': article,
    'id': ID,
    'data_type': data_type
}

# Create the DataFrame
df = pd.DataFrame(data)
df.to_csv("./stanford-corenlp-full-2018-02-27/all_data.csv", index=False)

In [14]:
df

,summary,article,id,data_type
0,Professor Angela Mcfarlane is an education exp...,Playing computer games such as Angry Birds tea...,e623a22b9335ee7e1bb000aaba2d1003ede1ee1a,train
1,Damien Miller was serving seven years for supp...,"By . Alex Ward . PUBLISHED: . 13:12 EST, 12 Oc...",f55585aaf90886f19cf8536643e14c45509d7c76,train
2,Gunmen opened fire as Scott Calder picked his ...,"By . Lucy Crossley . PUBLISHED: . 05:49 EST, 1...",7a22414702d6158ae92292f5bd1bb67a86e53fc6,train
3,Buggy brand Quinny approached design studio St...,"By . Deni Kirkova . PUBLISHED: . 06:05 EST, 14...",3bd30d6d9d5a618bebddd39059e49d85ccdf0dbe,train
4,Facility is first of its kind in the UK .\nCha...,By . Ian Drury . Last updated at 7:26 PM on 6t...,500e3106d0aaab2a7dac1d725d496f5b95c236ed,train
...,...,...,...,...
11995,Marie D'Argent was injured when elevator at Me...,A tenant who claims she lost her 'sexual adven...,0b58a9df31c931d83937dc29870d43277eaacc76,test
11996,Casey Levi filmed the moment he tried to get h...,Sushi is a love-hate thing as a new video demo...,7f34660d22d984bd25962a586b6d5320e6b294de,test
11997,Tianwen Chen and wife found a baby girl in a b...,A remarkable farming couple have devoted thei...,40845c16c9c55506c1e4f93ec13a300e45894078,test
11998,Lukas Podolski left Arsenal for Inter Milan on...,Lukas Podolski insists he is prepared to fight...,cc42b3e93872a7e2413af1ab816184076bc654dc,test
11999,Farrend Rawson played against Brighton as Roth...,Rotherham have been charged with fielding an i...,7f93190d68da181dee183665d64d262dd5ef7729,test